<div class="container-form">

  <form>
    <h1 class="form">Register</h1>

    <h3>Payment Data</h3>
    <label for="cardnumber">
        <input class="dados" type="number" name="cardnumber" placeholder="Card Number" required>
    </label>

    <div class="input-double">
      <label for="validity">
        <input class="dados" type="number" name="validity" placeholder="Validity" required>
      </label>

      <label for="cvv">
        <input class="dados" type="number" name="cvv" placeholder="CVV" required>
      </label>
    </div>

    <label for="cardName">
      <input class="dados" type="text" name="cardName" placeholder="Cardholder Name" required>
    </label>

    <label for="cpf">
      <input class="dados" type="number" name="cpf" placeholder="CPF of the Holder" required>
    </label>

    <button>Continue</button>
  </form>

  <a routerLink="/login">Login<mat-icon class="icon-link" matSuffix>navigate_next</mat-icon></a>
</div>
