.container-comic-books{
  width: 74rem;
  margin: auto;
  margin-top: 60px;
  font-family: 'Roboto Condensed', sans-serif;

}

.comic-books{
  display: flex;
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.books{
  height: 350px;
  width: 230px;
  align-items: center;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 60px;

}

.books img{
  width: 230px;
  height: 280px;
  box-shadow: 0px 9px 7px 0px rgba(7, 7, 7, 0.35)

}

.title-book{
  margin-top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;

}

.autor{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

}
