<div class="container-form">

  <form>
    <h1 class="form">Register</h1>

    <h3>Address Data</h3>
    <label for="cep">
        <input class="dados" type="number" name="cep" placeholder="CEP" required>
    </label>

    <div class="input-double">
      <label for="address">
        <input class="dados address" type="number" name="address" placeholder="Address" required>
      </label>

      <label for="number">
        <input class="dados number" type="number" name="number" placeholder="No." required>
      </label>
    </div>

    <label for="complement">
      <input class="dados" type="text" name="complement" placeholder="Complement" required>
    </label>

    <div class="input-double">
      <label for="district">
        <input class="dados" type="text" name="district" placeholder="District" required>
      </label>

      <label for="city">
        <input class="dados" type="text" name="city" placeholder="City" required>
      </label>
    </div>



    <button>Finish</button>
  </form>

  <a routerLink="/login">Login<mat-icon class="icon-link" matSuffix>navigate_next</mat-icon></a>
</div>
