<div class="container-form">

  <form>
    <h1>Login</h1>
    <label for="email">
        <input class="dados" type="text" name="nickname" placeholder="Nickname" required>
    </label>

    <label for="password">
        <input class="dados" type="{{typePass}}" name="password" placeholder="Password" required>
    </label>

    <div class="icon-pass"><mat-icon matSuffix (click)="verSenha()">{{pass}}</mat-icon></div>

    <button>Enter</button>
  </form>

  <a routerLink="/account">Register<mat-icon class="icon-link" matSuffix>navigate_next</mat-icon></a>
</div>


