<div class="container-book-details">
  <a routerLink="/comic-books">
    <h1 class="title-pages">
      <mat-icon class="icon-link icon-pages" matSuffix>chevron_left</mat-icon>
      Back to Comic Books
    </h1>
  </a>
  <div class="book">
    <div class="book-details">
      <section class="image-book">
        <img src="{{comicBookImg}}/portrait_fantastic.jpg" alt="">
      </section>
      <section class="book-description">
        <h1>Star Wars: The High Republic (2021) #9</h1>
        <div class="details-info">
          <p><strong>Published:</strong> September 01, 2021</p>
          <p><strong>Writer:</strong> Cavan Scott</p>
          <p><strong>Penciler:</strong> Ario Anindito</p>
          <p><strong>Cover Artist:</strong> Phil Noto</p>
        </div>
        <div class="details-description">
          <p><strong>Descrition</strong></p>
          <p>A NEW STORY BEGINS THIS ISSUE – THE SHADOW OF THE NIHIL! Following the terrible events of The Rising Storm, the villainous NIHIL are in retreat, hunted by THE JEDI. WAYSEEKER KNIGHT ORLA JARENI is attacked by a lone Nihil Stormship in deep space, a Stormship commanded by one of the Jedi’s own. Which of STARLIGHT BEACON’S number have joined the Nihil Horde? And how far will they turn from the Light?</p>

          <p><strong>Cast:</strong> Jedi, Orla Jareni, Starlight Beacon, Avar Kriss</p>
        </div>
      </section>
    </div>
    <div class="book-buy">
      <div class="price">
        <h1>Acquire the Comic</h1>
        <p>Read online or on your iPhone, iPad or Android Device</p>
        <h2 class="price">$3.99</h2>
      </div>
      <div class="button-buy">
        <button (click)="purchase()">Buy Digital Issue</button>
      </div>
    </div>
  </div>

</div>
<app-msg-buy (fecharMensagem)="fecharMensagem($event)" *ngIf="buy"></app-msg-buy>

