<div class="container-profile">
  <a routerLink="/comic-books">
    <h1 class="title-pages">
      <mat-icon class="icon-link icon-pages" matSuffix>chevron_left</mat-icon>
      Back to Comic Books
    </h1>
  </a>

  <div class="info-user">
    <h1>Personal Data</h1>
    <p><strong>Nickname: </strong>sarah345top</p>
    <p><strong>Name:</strong> Sarah Souza da Silva</p>
    <div class="info-contact">
      <p><strong>E-Mail:</strong>  sarah345@gmail.com</p> <p><strong>Contact:</strong> (11) 99455-6254</p>
    </div>
    <p><strong>Address:</strong> Rua Vincenti Braga, 12, Apto 45, Carapicuiba, São Paulo, 06352-020</p>

    <div class="info-payment">
      <strong>Form of Payment: </strong>
        <div class="card">
          <div class="info-card">
            <p>**** **** **** 2536</p>
          <p>Sarah Souza da Silva <span>20/11</span></p>
          </div>
        </div>
    </div>




  </div>
</div>
