<div class="container-profile">
  <a routerLink="/comic-books">
    <h1 class="title-pages">
      <mat-icon class="icon-link icon-pages" matSuffix>chevron_left</mat-icon>
      Back to Comic Books
    </h1>
  </a>

  <div class="info-user">
    <h1>Personal Data</h1>
    <p><strong>Nickname: </strong>{{perfilLogado.nickname}}</p>
    <p><strong>Name:</strong> {{name}}</p>
    <div class="info-contact">
      <p><strong>E-Mail:</strong>  {{perfilLogado.email}}</p> <p><strong>Contact:</strong> {{perfilLogado.contact | mask: "(00) 00000-0000"}}</p>
    </div>
    <p><strong>Address:</strong> {{address}}</p>

    <div class="info-payment">
      <strong>Form of Payment: </strong>
        <div class="card">
          <div class="info-card">
            <p>**** **** **** {{cardNumber}}</p>
          <p>{{perfilLogado.cardName}}<span>{{perfilLogado.validity | mask: "00/00"}}</span></p>
          </div>
        </div>
    </div>
  </div>
</div>
